<% if logged_in? %>
  <div class="row">
    <aside class="col-md-4">
      <section class="user_info">
        <%= render 'shared/user_info' %>
      </section>
      <section class="post-form">
        <%= render 'shared/post_form' %>
      </section>
    </aside>
    <div class="col-md-8">
      <h3>投稿一覧</h3>
      <%= render 'shared/feed' %>
    </div>
  </div>
<% else %>
  <div class="center">
    <h1>Blog</h1>
    <p>いらっしゃいませ　ごゆっくり！</p>
    <div class="home-container-box">
      <p>
        <%= link_to "登録する？", new_user_path, class: "btn btn-outline-dark btn-lg" %>
        or <%= link_to "ログイン！", login_path, class: "btn btn-outline-dark btn-lg" %>
      </p>
    </div>
  </div>
<% end %>
