<h1>ログイン</h1>

<div class="row">
  <div class="col-md-6 form-box">
    <!-- セッションの場合はリソースの名前と対応するurlを具体的に指定する必要あり -->
    <%= form_for(:session, url: login_path) do |f| %>

      <%= f.label "メールアドレス" %>
      <%= f.email_field :email, class: 'form-control' %>

      <%= f.label "パスワード" %>
      <%= link_to ": 忘れたらこちら", new_password_reset_path %>
      <%= f.password_field :password, class: 'form-control' %>

      <%= f.label :remember_me, class: "checkbox inline" do %>
        <%= f.check_box :remember_me %>
        <span>ログイン状態を保持する</span>
      <% end %>

      <div>
        <input type="submit" value="ログイン" class="btn btn-outline-primary btn-sm">
      </div>
    <% end %>

    <p><%= link_to "新規ユーザーはこちら", new_user_path %></p>
  </div>
</div>
