<div class="container-box center row">
  <div class="container-box-content col-md-6 col-md-offset-3">
    <%= form_for @user, url: users_path(@user), html: { method: :post } do |f| %>
      <h2>新規登録</h2>

      <!-- エラーメッセージを表示する -->
      <%= render 'shared/error_messages' %>

      <%= f.label "お名前" %>
      <%= f.text_field :name, class: 'form-control' %>

      <%= f.label "メールアドレス" %>
      <%= f.text_field :email, class: 'form-control' %>

      <%= f.label "パスワード" %>
      <%= f.password_field :password, class: 'form-control' %>

      <%= f.label "パスワード(確認)" %>
      <%= f.password_field :password_confirmation, class: 'form-control' %>

      <div class="content-btn">
        <input type="submit" value="登録する" class="btn btn-outline-primary btn-sm">
      </div>
    <% end %>
  </div>
</div>
