<h1>投稿内容編集</h1>

<div class="row">
  <div class="col-md-6 contribute">
    <%= form_for @post, url: post_path(@post), html: { method: :patch } do |f| %>

      <%= f.label "タイトル" %>
      <%= f.text_field :title, class: 'form-control' %>

      <div class="contribute-box">
        <%= f.label "記事" %>
        <%= f.text_area :content %>
      </div>

      <div class="contribute-btn">
        <input type="submit" value="変更する" class="btn btn-outline-primary">
      </div>
    <% end %>
  </div>
</div>
